/*--------
   Fonts
--------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Header */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.first-section{
    background-color: darkslateblue;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.half-width{
    width: 100%;
    padding-left: 20px;
}

.header-h1{
    font-size: 64px;
    color: #FFF;
    width: 485px;
    height: 230px;
    margin-left: 100px;
    margin-top: 63px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.first-section-p{
    color: #FFF;
    border: solid 1px black 0.3;
    width: 168px;
    text-align: center;
    background-color: #E02C6D;
    margin-left: 150px;
    padding: 5px;
}

.half-width img{
    width: 556.01px;
    height: 438px;
    margin-top: 10px;
    margin-left: 70px;
    padding-right: 140px;
}

/* Section 2 area  */

.player-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player-card{
    width: 330px;
    height: 474px;
    padding: 15px;
}

.player-card img{
    width: 300px;
    height: 256px;
}